<connectionStrings>
  <clear />
  <add name="ConnectionStringDev" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\rvbrandao\Documents\Visual Studio 2017\Projects\TDD\Exemplos\TDD.Ecommerce\TDD.Ecommerce.Service\LocalDatabase\EcommerceTDD.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>